* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.half-width {
	width: 40%;
}

.half-width img {
	width: 100%;
}
.flex {
	display: flex;
	justify-content: space-evenly;
}

.header {
	padding: 20px 0px;
	align-items: center;
	background: url("images/header-bg.png");
}

.header h1 {
	font-size: 40px;
	margin: 10px 0px;
}

p {
	font-size: 18px;
	line-height: 25px;
}

.crimson-color {
	color: crimson;
}

.link {
	text-decoration: none;
	background-image: linear-gradient(to right, #ec3257, #b21031);
	color: white;
	padding: 5px 15px;
	border-radius: 5px;
}
.header-paragraph {
	margin-bottom: 20px;
}
.biography {
	background-image: url("images/biography-bg.png");
	align-items: center;
}

.biography h1 {
	margin: 30px 0px;
}

.biography p {
	font-size: 18px;
	letter-spacing: 1px;
	line-height: 25px;
	margin-bottom: 30px;
}

.one-third-width {
	width: 25%;
	margin: 5px;
}

.one-third-width img {
	width: 100%;
}
.latest-work {
	background-image: url("images/latest-work-bg.png");
	padding: 30px 0px;
}

.latest-work h1 {
	padding: 30px;
	text-align: center;
}

button {
	outline: none;
	border: 1px solid crimson;
	padding: 20px;
	cursor: pointer;
	margin-top: 30px;
}
.client {
	width: 50%;
	margin: auto;
	text-align: center;
	margin-bottom: 50px;
}

.client-bg {
	background-image: url("images/");
}

.client h2 {
	font-size: 50px;
	margin: 50px;
}

.client h3 {
	font-size: 35px;
	margin-bottom: 20px;
}
.client h4 {
	font-size: 18px;
	color: gray;
}

.client p {
	font-size: 18px;
	margin: 20px;
}

.link h6 {
	padding: 10px 0px;
	font-size: 14px;
}
.link h5 {
	font-size: 20px;
	padding-bottom: 20px;
}

footer {
	padding: 30px 0px;
}

footer p {
	text-align: center;
	font-size: 20px;
	color: gray;
}
